<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Train</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>SearchTickets</servlet-name>
    <servlet-class>Servlet.SearchTickets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchTickets</servlet-name>
    <url-pattern>/SearchTickets</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>Servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>Servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BookTickets</servlet-name>
    <servlet-class>Servlet.BookTickets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookTickets</servlet-name>
    <url-pattern>/BookTickets</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateOrder</servlet-name>
    <servlet-class>Servlet.CreateOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateOrder</servlet-name>
    <url-pattern>/CreateOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PersonalInformation</servlet-name>
    <servlet-class>Servlet.PersonalInformation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalInformation</servlet-name>
    <url-pattern>/PersonalInformation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddPassenger</servlet-name>
    <servlet-class>Servlet.AddPassenger</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPassenger</servlet-name>
    <url-pattern>/AddPassenger</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RefundTickets</servlet-name>
    <servlet-class>Servlet.RefundTickets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RefundTickets</servlet-name>
    <url-pattern>/RefundTickets</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>searchOrderInformation</servlet-name>
    <servlet-class>Servlet.searchOrderInformation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchOrderInformation</servlet-name>
    <url-pattern>/searchOrderInformation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchOrderDetails</servlet-name>
    <servlet-class>Servlet.SearchOrderDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchOrderDetails</servlet-name>
    <url-pattern>/SearchOrderDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>changeOrder</servlet-name>
    <servlet-class>Servlet.changeOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeOrder</servlet-name>
    <url-pattern>/changeOrder</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>IsPhoneExist</servlet-name>
    <servlet-class>Servlet.IsPhoneExist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IsPhoneExist</servlet-name>
    <url-pattern>/IsPhoneExist</url-pattern>
  </servlet-mapping>
  
</web-app>